.wrapper {
  display: flex;
  gap: 20px;
}

.speed {
  width: 60px;
  height: 430px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.speed-bar {
  width: 100%;
  background: #00bcd4;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  height: 16%;
}
